body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;  /* Ajoutez cette ligne pour aligner le contenu à gauche */
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#tasksList {
    list-style-type: none;  /* Supprime le point de liste par défaut */
    padding-left: 0;        /* Supprime le padding par défaut */
}

#tasksList li {
    padding: 5px 0;         /* Ajoute un peu d'espace entre les éléments de la liste */
}

#tasksList li {
    position: relative;  /* Position relative pour le positionnement absolu du bouton */
    padding-right: 80px; /* Espace pour le bouton */
}

.delete-btn {
    position: absolute; 
    right: 10px;  /* Positionné à droite */
    top: 50%;
    transform: translateY(-50%);  /* Centré verticalement */
    display: none;  /* Par défaut, le bouton est caché */
    background-color: #f44336;  /* Couleur rouge pour le bouton d'effacement */
    color: #fff;    /* Texte blanc */
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

#tasksList li:hover .delete-btn {
    display: block;  /* Affiche le bouton lors du survol de la tâche */
}

.deadline {
    font-style: italic;
    color: #888;
    margin-left: 10px;
}
